.booking__wrapper {
  text-align: center;
  background-color: #FFFFFF;
}

.booking__header {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 39px;
}

.booking__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.booking__button {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: #81B3D2;
  color: #FFFFFF;
  margin-top: 48px;
  margin-bottom: 65px;

}
