.advantages__slogan {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__intro {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.advantages__list {
  text-align: center;
  list-style-type: none;
  color: #000000;
}

.advantages__item {
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.advantages__tittle {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.advantages__number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

}

.advantages__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

}

.advantages__text {
  background-color: #81B3D2;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.advantages__background {
  background-color: #EEEEEE;
}

.advantages__meta {
  background-color: #FFFFFF;
  list-style-type: none;

  .advantages__meta--title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .advantages__meta--description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
  }
}
