.copyright {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-top: 47px;

  @media(min-width: @tablet-width) {
    margin-left: auto;
    padding-top: 50px;
  }

  @media(min-width: @desktop-width) {
    margin-left: auto;
    padding-top: 50px;
  }
}

.copyright__link {
  text-decoration: none;
}
