.main-nav__wrapper{
  background-color: #81B3D2;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
}



